  <!-- footer area -->
    <footer class="footer-area ft-bg">
        <div class="footer-widget">
            <div class="container">
                <div class="row footer-widget-wrapper pt-100 pb-40 justify-content-between">
                    <div class="col-md-6 col-lg-5">
                        <div class="footer-widget-box about-us">
                            <a href="/" class="footer-logo">
                                <img src="images/logo/surggo.png" alt="">
                            </a>
                            <p class="mb-3 text-start">
                                At SurgGo, we export high-quality, compliant surgical and laboratory consumables trusted by healthcare professionals worldwide. 
                            <ul class="footer-contact">
                                <li><a href="tel:+91 7015856531"><i class="far fa-phone"></i>+91 7015856531</a></li>
                                <li><i class="far fa-location"></i>Office No-22, Nirmal Complex, Peer Baba Raod , Nangloi Delhi-41</li>
                                <li><a href="mailto: nijivshainternational@gmail.com"><i class="far fa-envelope"></i> nijivshainternational@gmail.com</a></li>
                                <li><i class="far fa-clock"></i>Mon-Sat (10.00AM - 8.00PM)Ist</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li><a href="about.html">About Us</a></li>
                             
                                <li><a href="contact.html">Certificate</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="testimonial.html">Contact Us</a></li>
                                <li><a href="terms.html">Terms Of Service</a></li>
                                <li><a href="privacy.html">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Category</h4>
                            <ul class="footer-list">
                                <li><a href="shop-grid.html">Blood Collection Tube</a></li>
                                <li><a href="shop-grid.html">Containers</a></li>
                                <li><a href="shop-grid.html">Vials</a></li>
                                <li><a href="shop-grid.html">Tips</a></li>
                                <li><a href="shop-grid.html">Disposable Surgical</a></li>
                                <li><a href="shop-grid.html">Bandages and Tape</a></li>
                                <li><a href="shop-grid.html">Alcohol</a></li>
                            </ul>
                        </div>
                    </div>
                   
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copyright-wrap">
                    <div class="row">
                        <div class="col-12 col-lg-6 align-self-center">
                            <p class="copyright-text">
                                &copy; Copyright All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-12 col-lg-6 align-self-center">
                            <div class="footer-social">
                                <span>Follow Us:</span>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/surggo_official?igsh=M2w1cnpzcDQ0MjZy&utm_source=qr"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <a href="https://wa.link/mbznox" class="whatspp"><img src="/images/icon/whatsapp.png"  width="60" alt="whatsapp"></a>
    </footer>
    <!-- footer area end -->