<!-- header area -->
<header class="header">

    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrap">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                        <div class="header-top-left">
                            <ul class="header-top-list">
                                <li><a href="mailto:info@example.com"><i class="far fa-envelopes"></i>
                                        info@example.com</a></li>
                                <li><a href="tel:+21236547898"><i class="far fa-headset"></i> +2 123 654 7898</a></li>
                                <!-- <li class="help"><a href="#"><i class="far fa-comment-question"></i> Need Help?</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                        <div class="header-top-right">
                            <ul class="header-top-list">

                                <li>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="far fa-globe-americas"></i> EN
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">EN</a>
                                            <a class="dropdown-item" href="#">FR</a>
                                            <a class="dropdown-item" href="#">DE</a>
                                            <a class="dropdown-item" href="#">RU</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="social">
                                    <div class="header-top-social">
                                        <span>Follow Us: </span>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-x-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->


    <!-- navbar -->
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/">
                    <img src="images/logo/logo.png" alt="logo">
                </a>
                <div class="mobile-menu-right">
                    <!-- <div class="mobile-menu-btn">
                            <a href="#" class="nav-right-link search-box-outer"><i class="far fa-search"></i></a>
                            <a href="wishlist.html" class="nav-right-link"><i class="far fa-heart"></i><span>2</span></a>
                            <a href="shop-cart.html" class="nav-right-link"><i class="far fa-shopping-bag"></i><span>5</span></a>
                        </div> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a href="/" class="offcanvas-brand" id="offcanvasNavbarLabel">
                            <img src="images/logo/logo.png" alt="">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="nav-link active" href="/" data-bs-toggle="dropdown">Home</a>

                            </li>
                            <li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categeory</a>
                                <ul class="dropdown-menu fade-down">

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Blood Collection Tube</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu"><a class="dropdown-item"
                                                    href="/vaccum-tube">Vaccum tube</a>


                                            </li>
                                            <li><a class="dropdown-item" href="/non-vaccum">Non Vaccum </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                            href="javascript:void(0);">Containers</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="urine-container">Urine Containers</a>
                                            </li>
                                            <li><a class="dropdown-item" href="/speciman-container">Speciman
                                                    Container</a>
                                            </li>

                                            <li><a class="dropdown-item" href="/stool-container">Stool Container</a>
                                            </li>

                                            <li><a class="dropdown-item" href="/routine-container">Routine Container</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Vial</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/ria-vial">Ria Vial</a>
                                            </li>
                                            <li><a class="dropdown-item" href="/multi-purpose-vials">Multi Purpose
                                                    Vials</a>
                                            </li>

                                            <li><a class="dropdown-item" href="/centrifuge-vial">Centrifuge Vial</a>
                                            </li>
                                            <li><a class="dropdown-item" href="/micro-centrifuge-cup">Micro Centrifuge
                                                    Cup</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Pipette</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/micro-pipette-tip">Micro Pipette Tips</a></li>
                                            <li><a class="dropdown-item" href="/macro-pipette-tip">Macro Pipette Tips</a></li>
                                            <li><a class="dropdown-item" href="/pasture-pipette"> Pasture Pipette</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" ><a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Disposable Surgical</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/surgical-mask">Surgical Mask</a></li>
                                            <li><a class="dropdown-item" href="/head-cap">Head Cap</a></li>

                                            <li><a class="dropdown-item" href="/shoe-cover">Shoe Cover </a></li>
                                            <li><a class="dropdown-item" href="/gown"> Gown </a></li>
                                            <li><a class="dropdown-item" href="/surgical-glove">Surgical Glove</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" href="javascript:void(0);">Bandages & tapes</a>

                                    </li>
                                    <li><a class="dropdown-item" href="/cotton-rolls">Cotton Rolls </a></li>
                                    <li><a class="dropdown-item" href="/hand-sanitizer">Hand Sanitizer</a></li>
                                    <li><a class="dropdown-item" href="/alcohol-swab">Alcohol Swab</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Certificate</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/blog" data-bs-toggle="dropdown">Blog</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </nav>
    </div>
    <!-- navbar end -->

</header>
<!-- header area end -->